# Python_Basics

## Topics Covered:
- Lists
- Tuples
- Dictionaries
- Sets

## 1-- Lists(ordered, changeable, mutable, enclosed in [])

### List fn and methods

- list()
- len() {to print length or no of elements in list}
- append() {to add element at end of list}
- del keyword
- insert() {to insert element at specified index}
- extend()
- pop()
- sum()
- count()
- index()
- max()
- min()
- repitition operator(*)

## 2-- Sets(unordered, iterable, mutable(can add or remove elements but elements themselves are immutable), no duplicate elements, doesnt follow indexing

### Set fn and methods

- add()
- difference()
- difference_update()
- intersection()
- intersection_update()
- isdisjoint()
- issubset() etc...

## 3-- Dictionaries(key-value pairs, unordered, mutable(values - mutable, keys - immutable), follows indexing)

### Dict fn and methods

- dict()
- dict.values()
- dict.items()
- dict.keys()

### Nested Dictionaries

## 4-- Tuples(immutable, ordered)

### Tuple fn and methods

- tuple()
- count()
- index()

#Lists

In [22]:
print(type([]))

<class 'list'>

In [23]:
#Creating an empty list

#M1

List1 = list()
print(type(List1))

#M2

List2 = []
print(type(List2))

<class 'list'>
<class 'list'>

In [24]:
#Printing no of elements in list

list3 = [1,2,3,"Aryan", True, 1.2]
print(len(list3))

6

In [25]:
#Revise Indexing of list and slicing in list

In [26]:
#Append

list3.append("Hi")
print(list3)

[1, 2, 3, 'Aryan', True, 1.2, 'Hi']

In [27]:
#Inserting element at specified index

list3.insert(2, 2.3)
print(list3)

[1, 2, 2.3, 3, 'Aryan', True, 1.2, 'Hi']

In [28]:
#To avoid appending as nested list use extend

list3.append([8,9])
print(list3)

[1, 2, 2.3, 3, 'Aryan', True, 1.2, 'Hi', [8, 9]]

In [29]:
del list3[8]
print(list3)

[1, 2, 2.3, 3, 'Aryan', True, 1.2, 'Hi']

In [30]:
list3.extend([8,9])
print(list3)

[1, 2, 2.3, 3, 'Aryan', True, 1.2, 'Hi', 8, 9]

In [31]:
#pop

list3.pop()
print(list3)

list3.pop(0)
print(list3)

[1, 2, 2.3, 3, 'Aryan', True, 1.2, 'Hi', 8]
[2, 2.3, 3, 'Aryan', True, 1.2, 'Hi', 8]

In [32]:
list3.pop(3)
print(list3)

[2, 2.3, 3, True, 1.2, 'Hi', 8]

In [33]:
list3.pop(3)
print(list3)

[2, 2.3, 3, 1.2, 'Hi', 8]

In [34]:
list3.pop(4)
print(list3)

[2, 2.3, 3, 1.2, 8]

In [37]:
#sum
print(sum(list3)) #pop(removed) string + boolean as sum would have given error

16.5

In [38]:
print(max(list3))
print(min(list3))

8
1.2

In [39]:
print(list3.count(2))
print(list3.count("Hi"))

1
0

In [42]:
print(list3 * 2) ##doesnt do changes in the original list

[2, 2.3, 3, 1.2, 8, 2, 2.3, 3, 1.2, 8]

In [43]:
print(list3)

[2, 2.3, 3, 1.2, 8]

In [51]:
#list3.index(value, start, stop) [ start and stop are not mandatory parameters]

print(list3.index(3))
# print(list3.index("Hi")) Index gives error if not found

list4 = list3 * 2
print(list4)

print(list4.index(2))
print(list4.index(2, 2)) #goes till end if stop not specified

2
[2, 2.3, 3, 1.2, 8, 2, 2.3, 3, 1.2, 8]
0
5

In [52]:
##Sets

In [62]:
#An empty set can be created by set fn only, if you do set1 = {} (it creates a dictionary)

set1 = set()
print(set1)
print(type(set1))

set()
<class 'set'>

In [55]:
set2 = {1,2,3,"Hi", 3, 2, 1}
print(set2) #Filters duplicate elements

{1, 2, 3, 'Hi'}

In [57]:
# print(set2[0]) #Indexing is not there in sets, this code gives an error

In [64]:
#add

set3 = {1,2,3,4,5}
set3.add(6)
print(set3)

set3.add(5)
print(set3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [67]:
set4 = {1,2,3,4}
set5 = {2,3,4,5,6}

print(set4.difference(set5))
print(set4)

# print(set4.difference_update(set5))  #This returns None, as difference update doesnt give the final answer, while difference does..
set4.difference_update(set5)
print(set4)

{1}
{1, 2, 3, 4}
{1}

In [71]:
# set4.add(2,3,4) #add function takes only one argument
set4.add(2)
set4.add(3)
print(set4)
print(set5)

{1, 2, 3}
{2, 3, 4, 5, 6}

In [72]:
print(set4.isdisjoint(set5))

False

In [73]:
#Dictionaries

In [75]:
#Creating an empty dictionary(2 ways)

dict1 = {}
print(type(dict1))

dict2 = dict()
print(type(dict2))

<class 'dict'>
<class 'dict'>

In [76]:
#Revenue of companies(dictionary example)

dict3 = {"TCS" : 67, "Infosys" : 670, "Google" : 67000}
print(dict3)

{'TCS': 67, 'Infosys': 670, 'Google': 67000}

In [79]:
#Indexing + Appending + Updating_value

#Indexing(indexes are the keys instead of 0,1,2...)
print(dict3['TCS'])

#Appending
dict3['Apple'] = 6700
print(dict3)

#Updating
dict3['TCS'] = 670
print(dict3)

67
{'TCS': 67, 'Infosys': 670, 'Google': 67000, 'Apple': 6700}
{'TCS': 670, 'Infosys': 670, 'Google': 67000, 'Apple': 6700}

In [86]:
#Traversing through the dictionary

#1-- keys

#M1
for key in dict3:
    print(key)

print('\n')

#M2
for key in dict3.keys():
    print(key)

print('\n')

#2-- values
for value in dict3.values():
    print(value)

print('\n')

#3-- items
for item in dict3.items():
    print(item)

TCS
Infosys
Google
Apple


TCS
Infosys
Google
Apple


670
670
67000
6700


('TCS', 670)
('Infosys', 670)
('Google', 67000)
('Apple', 6700)

In [88]:
#Nested Dictionaries

dict_val1 = {'Mercedes' : 1960}
dict_val2 = {'Audi' : 1970}
dict_val3 = {'Ferrari' : 1980}

dict_cars = {'Car1' : dict_val1, 'Car2' : dict_val2,'Car3' : dict_val3}
print(dict_cars)

{'Car1': {'Mercedes': 1960}, 'Car2': {'Audi': 1970}, 'Car3': {'Ferrari': 1980}}

In [92]:
#Indexing in Nested Dictionaries

print(dict_cars['Car2'])
print(dict_cars['Car2']['Audi'])
# print(dict_cars['Car2']['Mercedes']) This gives a key error

{'Audi': 1970}
1970

In [93]:
#Tuples

In [94]:
#Creating an empty tuple

#M1
tup1 = tuple()
print(type(tup1))

#M2
tup2 = ()
print(type(tup2))

<class 'tuple'>
<class 'tuple'>

In [98]:
tup3 = (1,2,3,"Hi")

#Indexing
print(tup3[0])

#Tuples are immutable!!!
# tup3[0] = "HELLO"

1

In [100]:
print(tup3.count(1))
print(tup3.index("Hi"))

1
3